In [27]:
import os
import pandas as pd
import numpy as np

project_root = os.path.abspath(os.getcwd())

data_dir = os.path.join(project_root, '..', '..', 'data')

# Summer month

pv_total = pd.read_csv(os.path.join(data_dir, 'Timeseries_2023_PV_Power_Production.csv'), sep=',', skiprows=21)
pv_total

               time    P  G(i)  H_sun   T2m  WS10m  Int
0     20230101:0010  0.0   0.0    0.0  5.23   2.28  0.0
1     20230101:0110  0.0   0.0    0.0  5.27   2.28  0.0
2     20230101:0210  0.0   0.0    0.0  5.49   2.21  0.0
3     20230101:0310  0.0   0.0    0.0  5.49   2.07  0.0
4     20230101:0410  0.0   0.0    0.0  5.17   2.07  0.0
...             ...  ...   ...    ...   ...    ...  ...
8755  20231231:1910  0.0   0.0    0.0  3.20   1.10  0.0
8756  20231231:2010  0.0   0.0    0.0  3.38   1.17  0.0
8757  20231231:2110  0.0   0.0    0.0  3.36   1.24  0.0
8758  20231231:2210  0.0   0.0    0.0  3.21   1.31  0.0
8759  20231231:2310  0.0   0.0    0.0  2.89   1.38  0.0

[8760 rows x 7 columns]

In [28]:
# Convert the 'time' column to datetime
pv_total['time'] = pd.to_datetime(pv_total['time'].str[:8] + pv_total['time'].str[9:], format='%Y%m%d%H%M')

# Round to the nearest full hour
pv_total['time'] = pv_total['time'].dt.round('H')

# Display the updated DataFrame
pv_total.head()

                 time    P  G(i)  H_sun   T2m  WS10m  Int
0 2023-01-01 00:00:00  0.0   0.0    0.0  5.23   2.28  0.0
1 2023-01-01 01:00:00  0.0   0.0    0.0  5.27   2.28  0.0
2 2023-01-01 02:00:00  0.0   0.0    0.0  5.49   2.21  0.0
3 2023-01-01 03:00:00  0.0   0.0    0.0  5.49   2.07  0.0
4 2023-01-01 04:00:00  0.0   0.0    0.0  5.17   2.07  0.0

In [29]:
#change year from 2023 to 2024
pv_total['time'] = pv_total['time'] + pd.DateOffset(years=1)
#change name of column time->timestamp and P-> Energy_production_kWh
pv_total.columns = pv_total.columns.str.replace('time', 'timestamp')
pv_total.columns = pv_total.columns.str.replace('P', 'PV_energy_production_kWh')


# one for august
pv_august = pv_total[(pv_total['timestamp'].dt.month == 8) & (pv_total['timestamp'].dt.year == 2024)]

# one for december
pv_december = pv_total[(pv_total['timestamp'].dt.month == 12) & (pv_total['timestamp'].dt.year == 2024)]
# save the two datasets
pv_august.to_csv(os.path.join(data_dir, 'pv_august.csv'), index=False)
pv_december.to_csv(os.path.join(data_dir, 'pv_december.csv'), index=False)
pv_august

,timestamp,PV_energy_production_kWh,G(i),H_sun,T2m,WS10m,Int
5088,2024-08-01 00:00:00,0.0,0.0,0.0,17.94,1.17,0.0
5089,2024-08-01 01:00:00,0.0,0.0,0.0,17.93,1.17,0.0
5090,2024-08-01 02:00:00,0.0,0.0,0.0,17.99,1.10,0.0
5091,2024-08-01 03:00:00,0.0,0.0,0.0,17.36,1.24,0.0
5092,2024-08-01 04:00:00,0.0,0.0,0.0,17.62,1.24,0.0
...,...,...,...,...,...,...,...
5827,2024-08-31 19:00:00,0.0,0.0,0.0,16.22,0.83,0.0
5828,2024-08-31 20:00:00,0.0,0.0,0.0,17.22,0.48,0.0
5829,2024-08-31 21:00:00,0.0,0.0,0.0,17.23,0.55,0.0
5830,2024-08-31 22:00:00,0.0,0.0,0.0,16.93,0.90,0.0
5831,2024-08-31 23:00:00,0.0,0.0,0.0,16.35,1.03,0.0